$orange: map-get($theme-colors , "primary" );

.hero-wrapper  {
  background: $orange url('../images/home-hero-honey.jpg');
  background-repeat: no-repeat;
  background-position-x: 47%;
  background-position-y: -50px;
  background-size: auto 100%;
  margin: 0 auto;
  height: 550px;
  padding-top: 95px;

  h1 {
    margin-top: 70px;
  }

  h1, h3 {
    color: map-get($theme-colors , "secondary" );
  }

  .mbh-button {
    align-self: flex-end;
    margin-top: auto;
    margin-bottom: 70px;
  }
}